#hebergement
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: : space-around;
	align-items: center;
	background-color: #F2F2F2;
	border: 3px;
	border-radius: 10px;
}

.Cannebiere, .Port, .Mouette, .Mer, .Panier, .Amina
{
	display: inline-block;
	flex-direction: row;
	flex-wrap: wrap;
	margin: auto;
	justify-content: center;
	background-color: white;
	border:2px solid black;
	border-radius: 10px;
	
}

img
{
	margin: 5px 5px 0px 5px;
	border-radius: 10px 10px 0px 0px;
}