@font-face
{
	font-family: 'raleway';
	src: url('./raleway/Raleway.ttf');
}

body
{
	font-family: 'raleway', Arial, Serif;
	margin: 0px;
	margin-left: 10px;
	margin-right: 10px;
}

.logo
{	
	float: left;
	height:50px;
	width: 8%;
}

nav
{
	display: flex;
	flex-direction: wrap; 
	justify-content: space-around;
	align-content: space-around;
	float: right;
}

.navigation:hover
{
	border-top: solid #0065FC 2px;
}

ul
{
	display: flex;
	list-style: none;
}

.navigation

{
	display: flex;
	margin-right: 40px;
}

.filtre
{
	border: solid 0px;
	background-color: white;
	text-align: center;
	font-weight: bold;
}

.liste
{
	border: solid #F2F2F2 1px;
	border-radius: 20px 20px 20px 20px;
	margin-right: 100px;
}

.recherche
{
	height:31px;
	border: solid #F2F2F2 1px;
}

.bleu
{
	border: 2px;
	padding: 8px ;
	margin-left: -5px;
	border-radius: 0px 10px 10px 0px;
	background-color: #0065FC;
	color: white;
}

.fa-money-bill-wave
{
	border: 2px;
	padding:8px;
	border-radius: 20px 20px 20px 20px;
	background-color: #DEEBFF;
}
.fa-child
{
	border: 2px;
	padding:8px;
	border-radius: 20px 20px 20px 20px;
	background-color: #DEEBFF;
}
.fa-heart
{
	border: 2px;
	padding:8px;
	border-radius: 20px 20px 20px 20px;
	background-color: #DEEBFF;
}

.fa-dog
{
	border: 2px;
	padding:8px;
	border-radius: 20px 20px 20px 20px;
	background-color: #DEEBFF;
}

h3
{
	margin-left: 20px;
}

#block
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#hebergement
{
	background-color: #F2F2F2;
	height: 40%;
	width: 60%;
	padding:10px;
	border-radius: 10px;
}

.marseille
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-between;
}

#populaire
{
	background-color: #F2F2F2;
	width: 30%;
	padding: 10px;
	border-radius: 10px;
}

.plus
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
}

.carte
{	display: flex;
	background-color: white;
	border:2px;
	margin-bottom: 20px;
	border-radius: 10px;
	width : 30%;
	height: 20%;
	box-shadow: 1px 1px 10px grey;
}

.carte div
{
	padding-top: 5px;
}

.carte div img

{
	height: 125px;
}

.carte div p
{
	line-height: 50%;
}

.carte div:nth-child(1) p
{
	margin-left: 10px;
}

.gras
{
	margin-left: 20px;
	font-weight: bold;
}

.carte2
{
	display: flex;
	background-color: white;
	border:2px;
	height: 130px;
	margin-top: 25px;
	border-radius: 10px;
	width: 90%;
	box-shadow: 1px 1px 10px grey;
}


.carte2 div img
{
	height: 90%;
	width:30%;
	margin: 5px;
}

.grand
{
	background-color: white;
	border: #F2F2F2 2px;
	margin-bottom: 5px;
	border-radius: 10px;
	height: 400px;
	width: 250px;
	box-shadow: 1px 1px 10px grey;
}

.moyen
{
	background-color: white;
	border: #F2F2F2 2px;
	margin-bottom: 25px;
	border-radius: 10px;
	height: 270px;
	width: 250px;
	box-shadow: 1px 1px 10px grey;
}

.mini
{
	background-color: white;
	border: #F2F2F2  2px;
	margin-bottom: 25px;
	border-radius: 10px;
	height: 100px;
	width: 280px;
	align-self: flex-end;
	box-shadow: 1px 1px 10px grey;

}

.petit
{
	background-color: white;
	border: #F2F2F2 2px;
	margin-bottom: 25px;
	border-radius: 10px;
	height: 150px;
	width: 300px;
	box-shadow: 1px 1px 10px grey;

}

img
{
	margin: 0px 5px 1px 5px;
	border-radius: 10px 10px 0px 0px;
	height: 80%;
	width: 95%;
}

p
{
	margin-top: 3px;
}

.cover
{
	object-fit: cover;
}

.fill
{
	height: 100%;
	width: 40%;
	border-radius: 10px 0px 0px 10px;
	float: left;;
	object-fit: cover;
}

.far, .fa-star
{
	color: #F2F2F2;
	border-color: #F2F2F2
}

.fas, .fa-star
{
	color: #0065FC;
}

.fa-map-marker-alt
{
	border:2px;
	padding: 8px;
	border-radius: 10px 0px 0px 10px;
	background: #F2F2F2;
	color: black;
}

.fa-info-circle
{
	padding-left: 25px;
}

.signe
{
	margin-left: 10px;
	margin-top: -5px;
	padding-bottom: 15px;
}

footer
{
	display: flex;
	flex-direction: wrap
	justify-content: space-around;
	align-content: space-around;
	background-color: #F2F2F2
}
.Propos, .Nos, .Assistance
{
	display: flex;
	flex-direction: column;
	margin-right: 300px;
	line-height: 100%;
}