@font-face
{
	font-family: 'raleway';
	src: url('./raleway/Raleway.ttf');
}

body
{
	font-family: 'raleway', Arial, Serif;
	margin: 0px;
}

.logo
{	
	float: left;
	height:50px;
	width: 8%;
}
nav
{
	display: flex;
	flex-direction: wrap; 
	justify-content: space-around;
	align-content: space-around;
	float: right;
}
ul
{
	display: flex;
	list-style: none;
	
}

.navigation

{
	display: flex;
	margin-right: 40px;
}
.filtre
{
	border: solid 0px;
	background-color: white;
	text-align: center;
	font-weight: bold;
}

.liste
{
	border: solid #F2F2F2 1px;
	border-radius: 20px 20px 20px 20px;
	margin-right: 100px;
}

}
.recherche
{
	border: solid #F2F2F2 2px;
	padding: 8px;
	border-radius: 10px 0px 0px 10px;
}
.bleu
{
	border: 2px;
	padding: 8px ;
	border-radius: 0px 10px 10px 0px;
	background-color: #0065FC;
	color: white;
}
.fa-money-bill-wave
{
	border: 2px;
	padding:8px;
	border-radius: 20px 20px 20px 20px;
	background-color: #DEEBFF;
}
.fa-child
{
	border: 2px;
	padding:8px;
	border-radius: 20px 20px 20px 20px;
	background-color: #DEEBFF;
}
.fa-heart
{
	border: 2px;
	padding:8px;
	border-radius: 20px 20px 20px 20px;
	background-color: #DEEBFF;
}

.fa-dog
{
	border: 2px;
	padding:8px;
	border-radius: 20px 20px 20px 20px;
	background-color: #DEEBFF;
}

#block
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#hebergement
{
	background-color: #F2F2F2;
	height: 480px;
	width: 60%;
	border-radius: 10px;
}

.marseille
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-between;
}

#populaire
{
	background-color: #F2F2F2;
	height: 480px;
	width: 30%;
	border-radius: 10px;
}

.plus
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
}

.carte
{	display: flex;
	background-color: white;
	border:2px;
	margin-bottom: 25px;
	padding-top: 3px;
	border-radius: 10px;
	height: 150px;
	width : 250px;
	box-shadow: 1px 1px 10px grey;
}

.carte2
{
	display: flex;
	background-color: white;
	border:2px;
	margin-bottom: 25px;
	border-radius: 10px;
	height: 115px;
	width: 250px;
}

.grand
{
	display: flex;
	background-color: white;
	border: #F2F2F2 2px;
	margin-bottom: 5px;
	border-radius: 10px;
	height: 400px;
	width: 250px;
	box-shadow: 1px 1px 10px grey;
}

.moyen
{
	display: flex;
	background-color: white;
	border: #F2F2F2 2px;
	margin-bottom: 25px;
	border-radius: 10px;
	height: 270px;
	width: 250px;
	box-shadow: 1px 1px 10px grey;
}

.mini
{
	display: flex;
	background-color: white;
	border: #F2F2F2  2px;
	margin-bottom: 25px;
	border-radius: 10px;
	height: 100px;
	width: 280px;
	align-self: flex-end;
	box-shadow: 1px 1px 10px grey;

}

.petit
{
	display: flex;
	background-color: white;
	border: #F2F2F2 2px;
	margin-bottom: 25px;
	border-radius: 10px;
	height: 150px;
	width: 300px;
	box-shadow: 1px 1px 10px grey;

}

img
{
	margin: 0px 5px 1px 5px;
	border-radius: 10px 10px 0px 0px;
	height: 80%;
	width: 95%;
}

p
{
	margin-top: 3px;
}

.cover
{
	object-fit: cover;
}

.fill
{
	height: 100%;
	width: 40%;
	border-radius: 10px 0px 0px 10px;
	float: left;;
	object-fit: cover;
}

.far, .fa-star
{
	color: #F2F2F2;
	
}

.fas, .fa-star
{
	color: #0065FC;

}
.fa-map-marker-alt
{
	border:2px;
	padding: 8px;
	border-radius: 10px 0px 0px 10px;
	background: #F2F2F2;
	color: black;
}

footer
{
	display: flex;
	flex-direction: wrap
	justify-content: space-around;
	align-content: space-around;
	background-color: #F2F2F2
}
.Propos, .Nos, .Assistance
{
	display: flex;
	flex-direction: column;
	margin-right: 300px;
	line-height: 100%;
}